@import url('https://fonts.googleapis.com/css?family=Nunito:400,600');
@import "bungee.css";

body {
    font-family: 'Nunito', sans-serif;
    letter-spacing: 5px;
 }

* {margin: 0;}
h1 {font: 26px/27px 'bungeeregular', sans-serif;}
h2 {font: 24px/25px 'Nunito';}
h3 {font: 22px/23px 'Nunito';}
p { font: 20px/21px 'Nunito', sans-serif;}
b {font: 22px/23px 'bungeeregular', sans-serif;}

a {
    font: 20px/11px 'Nunito', sans-serif;
    text-decoration: none;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}

a:hover {
    text-decoration: none;
}

.full {width:100%;}
.container {width:1200px; margin: auto;}
.relative {position:relative;}
.space {height:100px;}
.textL {text-align:left;}
.textC {text-align:center;}
.textR {text-align:right;}
.left {float:left;}
.right {float:right;}

.orange {background: #A44133;}
.red {background: #74292A;}

.clearFix:after {
        clear: both;
        content: ".";
        display: block;
        height: 0;
        visibility: hidden;
    }

/*======================================
		button
======================================*/

.gradBtn {
	color: #fff;
    font-size: .8em;
    padding: 10px;
	background: linear-gradient(to right, #74292A, #A44133);
	border: none;
	border-radius: 4px;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}

.gradBtn:hover {
    background: linear-gradient(to right, #A44133, #74292A);
    color: #fff;
}





/*======================================
		Navigation
======================================*/

#navigation {
	position: fixed;
	top: 0;
	left: 0;
	height: 52px;
	background: #fff;
	z-index: 999;
}

#navigation img {
	position: absolute;
	top: 0;
	left: 0;
	width: 100px;
    height: auto;
    z-index: 9999;
}

nav {
 position: absolute;
 top: 10px;
 left: 0;
 width: 100%;
}

nav ul {
	list-style: none;
	margin-left: 100px;
}

nav ul li {
	display: inline-block;
	margin-left: 40px;
}

nav ul li a, .login a {
	color: #000;
	font-size: 1.5em;
	text-decoration: none;
	transition: .3s ease-in-out;
}

nav ul li a:hover, .login a:hover {
	color: #A44133;
	text-decoration: none;
}

.login button {
	color: #000;
	font-size: 1.5em;
	text-decoration: none;
	border: none;
	background: none;
	cursor: pointer;
	margin-left: 40px;
	transition: .3s ease-in-out;
}

.login button:hover {
	color: #A44133;
	text-decoration: none;
}

.login {
	position: absolute;
	top: 0;
	right: 0;
}

.underline {
	position: absolute;
	top: 50px;
	left: 150px;
	height: 2px;
	background: linear-gradient(to right, #74292A, #A44133);
	width: 200%;
}

/*======================================
		Footer
======================================*/

footer {
	background: linear-gradient(to right, #f48571, #f1be8d);
	height: 150px;
	text-align: center;
    border-top: 5px solid #7fcaa7;
}

footer h1 {
	color: #fff;
	font-size: 3em;
	padding-top: 50px;
}



/*======================================
		Video
======================================*/

#video {
	height: 80vh;
}

video {
	width: 100%;
	position: absolute;
	top: -20vh;
	left: 0;
	z-index: -999;
}

/*======================================
		Content
======================================*/
#content {
	background: #fff;
	padding-top: -80vh;
}

.content {
	width: 300px;
	text-align: center;
	margin-top: 10%;
}

.content button {
	margin-top: 20px;
}

/*======================================
		Hero
======================================*/
#hero {
	background: rgba(255, 255, 255, 0.5);
	position: absolute;
	bottom: 0;
	left: 0;
	height: 200px;
}

.hero {
	position: absolute;
	top: 20px;
	left: 50%;
	width: 50%;
	margin-left: -25%;
	text-align: center;
}

/*======================================
		Games
======================================*/
	
#games {
	background: url(../img/games.jpg) no-repeat right center;
	background-size: contain;
	height: 300px;
	margin-bottom: 10px;

}

/*======================================
		Tables
======================================*/

#tables {
	background: url(../img/tables.jpg) no-repeat left center;
	background-size: contain;
	height: 500px;
	margin: 10px 0;
}


/*======================================
		Friends
======================================*/

#friends {
	background: url(../img/friends.jpg) no-repeat right center;
	background-size: contain;
	height: 550px;
	margin: 10px 0 0;
}


/*======================================
		Categories Page
======================================*/
.headline h1 {
    color: #A44133;
    text-align: center;
    margin: 60px 0;
    font-size: 10em;
}

/*======================================
		Sort Bar
======================================*/
.sort {
    width: 50%;
    float: left;
    height: 40px;
    margin: 20px 0 0;
}

.sort select {
    width: 25%;
    margin: 0 10px;
    padding-left: 10px;
    float: left;
    -webkit-appearance: none;
    -moz-appearance: none;
    background:none;
    border: 1px solid #888888;
    -webkit-border-radius: 10px 0 0 10px;
    -moz-border-radius: 10px 0 0 10px;
    border-radius: 10px 0 0 10px;
}

.sort label {
    float: left;
    width: 10%;
    height: 26px;
    margin-left: -10px;
    border: none;
    -webkit-border-radius: 0 10px 10px 0;
    -moz-border-radius: 0 10px 10px 0;
    border-radius: 0 10px 10px 0;
    background:  linear-gradient(to right, #74292A, #A44133);
}

.searchbar {
    width: 50%;
    float: right;
    height: 50px;
    padding: 10px 0;
}

.searchbar .search {
    position: absolute;
    top: 20px;
    right: 0;
    background: none;
    border: 1px solid #888888;
    width: 100%;
    height: 30px;
    margin-right: 0;
}

.searchbar button {
    position: absolute;
    top: 20px;
    right: 0;
    width: 20%;
    height: 30px;
    color: #fff;
    border: none;
    border-radius: 0 10px 10px 0;
    background: linear-gradient(to right, #74292A, #A44133);
}

.underline2 {
    height: 2px;
    background: linear-gradient(to right, #74292A, #A44133);
    width: 100%;
    margin: 20px 0 50px;
}

/*======================================
		Games
======================================*/

#magicGathering {
	background: url(../img/magic.png) no-repeat center;
	background-size: contain;
	height: 200px;
}

#dungeonDragons {
	background: url(../img/dungeons.png) no-repeat center;
	background-size: contain;
	height: 200px;
}

#catan {
	background: url(../img/catan.png) no-repeat center;
	background-size: contain;
	height: 200px;
}

.game {
    height: 300px;
    margin: 10px;
}

.game:nth-child(even) {
	background: rgba(165, 68, 68, 0.3);
}

.gameImage {
    float: left;
    width: 40%;
}

.description {
    float: right;
    width: 55%;
    margin: 15px 0 0 5%;
}

.description p {
    color: #2d2d2d;
}

.game a {
    position: absolute;
    bottom: -280px;
    right: 20px;;
}


/*======================================
		More
======================================*/
.more {
    text-align: center;
    margin: 20px 0;
}

.more a {
    color: #A44133;
}




































