@import url('https://fonts.googleapis.com/css?family=Nunito:400,600');
@import "bungee.css";

body {
    font-family: 'Nunito', sans-serif;
    letter-spacing: 5px;
 }

* {margin: 0;}
h1 {font: 26px/27px 'bungeeregular', sans-serif;}
h2 {font: 24px/25px ;}
h3 {font: 22px/23px ;}
p {font: 18px/19px ;}
a {font: 18px/19px ;}

.full {width:100%;}
.container {width:1200px; margin:0,auto;}
.clearFix:after {}
.relative {position:relative;}
.space {height:100px;}
.textL {text-align:left;}
.textC {text-align:center;}
.textR {text-align:right;}
.left {float:left;}
.right {float:right;}

.orange {background: #A44133;}
.red {background: #74292A;}

/*======================================
		button
======================================*/

.gradBtn {
	color: #fff;
	background: linear-gradient(to right, #74292A, #A44133);
	border: none;
	border-radius: 4px;
}



/*======================================
		Navigation
======================================*/

#navigation {
	position: fixed;
	top: 0;
	left: 0;
	height: 52px;
	background: #fff;
	z-index: 999;
}

#navigation img {
	position: absolute;
	top: 0;
	left: 0;
	width: 100px;
}

nav {
 position: absolute;
 top: 10px;
 left: 0;
 width: 100%;
}

nav ul {
	list-style: none;
	margin-left: 100px;
}

nav ul li {
	display: inline-block;
	margin-left: 40px;
}

nav ul li a, .login a {
	color: #000;
	font-size: 1.5em;
	text-decoration: none;
	transition: .3s ease-in-out;
}

nav ul li a:hover, .login a:hover {
	color: #A44133;
	text-decoration: none;
}

.login button {
	color: #000;
	font-size: 1.5em;
	text-decoration: none;
	border: none;
	background: none;
	cursor: pointer;
	margin-left: 40px;
	transition: .3s ease-in-out;
}

.login button:hover:hover {
	color: #A44133;
	text-decoration: none;
}

.login {
	position: absolute;
	top: 0;
	right: 0;
}

.underline {
	position: absolute;
	top: 50px;
	left: 150px;
	height: 2px;
	background: linear-gradient(to right, #74292A, #A44133);
	width: 200%;
}

/*======================================
		Footer
======================================*/

footer {
	background: linear-gradient(to right, #f48571, #f1be8d);
	height: 150px;
	text-align: center;
}

footer h1 {
	color: #fff;
	font-size: 3em;
	padding-top: 50px;
}



/*======================================
		Video
======================================*/

#video {
	height: 80vh;
}

video {
	width: 100%;
	position: absolute;
	top: -20vh;
	left: 0;
	z-index: -999;
}


/*======================================
		Hero
======================================*/
#hero {
	background: rgba(255, 255, 255, 0.5);
	position: absolute;
	bottom: 0;
	left: 0;
}


/*======================================
		Content
======================================*/
#content {
	background: #fff;
	padding-top: -80vh;
}





/*======================================
		Tables
======================================*/



/*======================================
		Friends
======================================*/
